.hero-section.article {
    .hero-header {
        font-size: 32px;
    }
}

main>section:has(.flex-section) {
    background-color: white;
    padding-block: 4rem;
}

.flex-section {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-block: 2rem;

    .img-container {
        flex: 1;
        aspect-ratio: 1;
        background-color: #999;
    }

    .description {
        flex: 1;
        display: grid;
        gap: 4px;

        * {
            margin: 0;
            padding: 0;
        }
    }

    .text {
        margin-top: 1em;
    }
}