footer {
    background-color: $primary-clr;
}

footer>.wrapper {
    color: white;
    display: flex;
    padding-block: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    >* {
        @media screen and (min-width: 468px) {
            width: fit-content;
            text-align: left;

        }

        text-align: center;
        width: 100%;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-link {
        text-decoration: none;
        display: inline-block;
        color: inherit;

    }

    li {
        list-style: none;
    }

    .footer-logo {
        .footer-icons {
            margin-top: 10px;
            display: flex;
            gap: 10px;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    .logo-section .logo {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .footer-link.img {
        display: block;
        width: 140px;
    }

}