.staff-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;

    &.staff {
        margin-bottom: 4rem;
    }

}

.staff-wrapper {
    position: relative;
}

.staff-img-container {
    height: 250px;

    img {
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

.staff-details {
    background-color: white;
    padding: 1em;
    font-size: 14px;
    display: grid;
    gap: 4px;

    p:first-child {
        font-weight: 600;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;

}

.library-wrapper {
    * {
        margin: 0;
        padding: 0;
    }

    position: relative;
}

.library-img-container {
    height: 220px;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.library-level {
    background-color: $primary-clr;
    color: white;
    padding: 1rem;
}

.library-details {
    background-color: white;
    padding: 1rem;
    font-size: 14px;
}