.navigation {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        list-style: none;

        li {

            display: inline-block;
        }

        .link {
            display: block;
            padding: 1em 1.5em;
            text-decoration: none;
            color: inherit;
        }
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        box-shadow: 1px 1px 10px rgba(146, 146, 146, 0.678);

        .cta {
            display: inline-block;
            text-decoration: none;
            padding: .5em 1.5em;
            border-radius: 10px;
            border: 1px solid $primary-clr;
        }
    }
}